(1)Write a Python code that takes a user's name as input and prints:
Hello, [name]!

Example:
Input:  Rawan  
Output: Hello, Rawan!

In [27]:
name = input("enter your name: ")
print("hello,"+ name +"!")

enter your name: Ahmed
hello,Ahmed!

(2)Write a Python code that takes a string input, and prints its type.

Example:
Input:  Rawan  
Output: Rawan  
Type: <class 'str'>

In [10]:
user = input("enter a string ")
print(user)
print(type(user))

enter a string Ahmed
Ahmed
<class 'str'>

(3)Write a Python code that multiply 3 numbers and print output.

Example:

a=4

b=3

c=1

Output: Product: 12.

In [12]:
a=6
b=4
c=2
print(a+b+c)

12

(4)Write a code to display four string input from user like “My, “Name“, “Is“, “James” as

expected output
```
My**Name**Is**James

```

In [29]:
str1 = input("enter your first string ")
str2 = input("enter your second string ")
str3 = input("enter your third string ")
str4 = input("enter your fourth string ")
print(str1+"**" +str2+"**" +str3+"**" +str4)

enter your first string My
enter your second string Name
enter your third string Is
enter your fourth string Ahmed
My**Name**Is**Ahmed

(5) Write a Python code that print:

Goal Output (exact):

```
Start -> "Middle" -> End!

Done
```

In [20]:
print("Ahmed","->",'\"Ezz\"',"Eldin!")
print("Done")

Ahmed -> "Ezz" Eldin!
Done

(6)Write a Python code that prints the following using only ONE print():

Expected output:

Line1

Line2

Line3

In [21]:
print("ahmed\nezz\neldin")

ahmed
ezz
eldin

(7)Write a Python code that takes the user's name and age as input and prints them using tab spacing.

```
Name:    Rawan
Age:     22
```

In [26]:
Username=input("enter your name ")
age=input("enter Your Age ")
print("Name:"+"\t"+(Username))
print("Age:"+"\t"+(age))

enter your name Ahmed
enter Your Age 29
Name:	Ahmed
Age:	29